<ion-header>
  <ion-toolbar>
    <ion-title>STIF</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding">

    <ion-card-header>

      <ion-item>
        <ion-text>
          <h2>Solicitação de Liberação</h2>
        </ion-text>
      </ion-item>

      <br />

      <ion-text>
        <h5>Solicitação feita por : {{remetente}} (sessão pedagógica)</h5>
      </ion-text>

      <br />

      <ion-text>
        <h5>{{mensagem}}</h5>
      </ion-text>

      <br />

      <ion-text>
        <h5>Preencha os campos abaixo:</h5><br>
      </ion-text>
    </ion-card-header>

    <h6>Eu <ion-input placeholder = "Insira seu nome completo aqui" [(ngModel)] = "pai" ></ion-input>, portador do RG ou CPF <ion-input placeholder = "Insira o CPF ou RG aqui" [(ngModel)] = "doc" ></ion-input>, autorizo o matriculado(a) do <ion-input placeholder = "Insira o ano" [(ngModel)] = "ano"></ion-input> ano
      do curso técnico em <ion-input placeholder = "Insira o nome do Curso" [(ngModel)] = "curso"></ion-input>
    </h6>
    <h6>Grau de parentesco <ion-input placeholder = "Insira o grau de parentesco" [(ngModel)] = "grau"></ion-input></h6>



    <!-- Falta colocar o resto que nem está na folha que o pessoal da sessão mandou -->
    <ion-button (click)="fechar()">Enviar</ion-button>

  </div>
</ion-content>
