<ion-header>
  <ion-toolbar>
    <ion-title>ADM STIF</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list *ngFor="let aviso of listaDiario | async">
    <ion-item >

      <ion-label> isso aí {{aviso.mensagem}}</ion-label>
      <br>

      <ion-button color="danger" (click)='excluir(aviso.mensagem)'>
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>



    </ion-item>
  </ion-list>
  <ion-button expand="block" color="primary" href="home">Voltar</ion-button>

</ion-content>
