<ion-header>
  <ion-toolbar>
    <ion-title>ADM STIF</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list *ngFor="let aviso of listaAvisos | async">
    <ion-item >
      <ion-label>{{aviso.adm.nome}}</ion-label>
      <ion-label>{{aviso.mensagem}}</ion-label>
      <br>

      <ion-button color="danger" (click)= 'excluir(aviso)'>
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
      <ion-button color="danger" (click) = "expandirMensagem(aviso)">
          <ion-icon name="expand"></ion-icon>
        </ion-button>
  


    </ion-item>
  </ion-list>
  <ion-button expand="block" color="primary" href="home">Voltar</ion-button>

</ion-content>
